#ShopZapatillas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cards{
    overflow: hidden;
    width: 25%;
}

.cards img{
    width: 100%;
}

#carritoContent{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;    
}

.carritoProducto{
    text-align: center;
}
.carritoProducto img {
    width: 70%;
}

.carritoContainer{
    height: 50vh;
}